body { color:#C68080; background:#282828; font-family:Verdana, Arial; font-size:12pt; }

.ca { display:table-cell; vertical-align:top; padding-left:3px; }
.cb { display:table-cell; vertical-align:top; }
.cc { display:table-cell; vertical-align:top; width:50%; padding:0.2em 0.2em 0.2em 0.2em; color:#33CC00; font-size:1.6em; font-family:Times New Roman, Arial; text-align:center; font-weight:normal; }
.cc p { font-size:0.8em; margin:0; }
.cd { display:table-cell; vertical-align:top; width:30%; padding:0.2em 0.2em 0.2em 0.2em; text-align:right; }
.imgpap {border:0; width:67px; height:111px; }
.imglog {border:0; width:315px; height:75px; }
.imgloge {border:0; width:314px; height:75px; }
.imgdon {border:0; padding-bottom:3px; width:120px; height:26px; }
.imgdone {border:0; padding-bottom:3px; width:74px; height:26px; }
.imgbou {border:0; width:26px; height:27px; }
.imgcla {border:0; width:298px; height:32px; }
.imgclae {border:0; width:318px; height:32px; }
.imgbig {border:0; } 
.imgflag {border:0; padding-top:10px; width:18px; height:12px;}

.reg {width:15px; height:18px; vertical-align:bottom; }

a.ind { color:#330066; text-decoration:none; }
a.ind:hover { color:#DD0000; text-decoration:underline; }
p { margin:0.6em 0 0.6em 0; }
.para { font-weight:bold; margin:0.6em 2% 0.6em 16%; }
.par { text-indent:2.5em; text-align:justify; margin:0.2em 20% 0 24%; }
.ptabl { text-indent:2.5em; text-align:justify; }
.pa { margin:0.6em 2% 0.6em 15%; }
.carto { margin:0.6em 2% 0.6em 15%; font-size:1.1em; }
.dico { margin:0.6em 2% 0.6em 14%; font-size:0.9em; }
.pb { margin:0.6em 2% 0.6em 25%; }
.pi { text-indent:2.5em; }
.r1 { padding-left:0.5em; }
.r2 { padding-left:1em; }
.pj { text-indent:2.5em; text-align:justify; }
.pas { text-indent:2.5em; margin:0.2em 20% 0 25%; }
.esp { clear:both; }
.espa { clear:both; height:4em; }
.espb { clear:both; height:3em; }
.espc { clear:both; height:1em; }
.espd { clear:both; height:2em; }
.espr { padding-left:4em; }
.esps { padding-left:1.5em; }
.left { float:left; }

.cok { column-count:6; column-gap:4em ; margin-left:8%; }
.col { column-count:6; column-gap:4em ; margin-left:8%; }
.col p { margin:0 0 0 0; }
.col-kb {  column-count:4; column-gap:4em ; margin-left:14%; margin-right:6%; }
.col-kb p { margin:0 0 0 0; }

.don { border-radius:5em; color:#FFF2BF; background-color:#339933; padding:0.2em 0.8em; margin-bottom:0.5em; text-decoration:none; display:inline-block; font-size:0.9em; }
.don:hover { background-color:#FD3300; color:#FFFFFF; text-decoration:none; }

a { color:#330066; text-decoration:underline; }
a:hover { color:#DD0000; text-decoration:none; }
a.lien { color:#0000E6; text-decoration:none; }
a.lien:hover { color:#DD0000; text-decoration:underline; }
a.liar { color:#0000E6; text-decoration:none; font-family:Arial; }
a.liar:hover { color:#DD0000; text-decoration:underline; }
a.liem { color:#0000E6; text-decoration:none; }
a.liem:hover { color:#DD0000; text-decoration:underline; }
a.new, a.new:visited { font-family:Calibri, Arial; font-size:0.65em; color:black; background-color:#FFD942; text-decoration:none; padding: 0.05em 0.25em; vertical-align:0.2em; }
a.new:hover { color:#DD0000; background-color:white; }
a.ltr { color:#0000E6; text-decoration:none; }
a.ltr:hover { color:#DD0000; text-decoration:none; background-color:#FFFF7D; }
a.lia { text-decoration:none; border-bottom:1px dotted blue; }
a.lia:hover { color:#DD0000; text-decoration:none; border-bottom:0; }
a.liai { text-decoration:none; font-style:italic; border-bottom:1px dotted blue; }
a.liai:hover { color:#DD0000; text-decoration:none; font-style:italic; border-bottom:0; }
a.liax { color:#A2D3E3; text-decoration:none; border-bottom:1px dotted blue; }
a.liax:hover { color:#DD0000; text-decoration:none; border-bottom:0; }
a.liaix { color:#A2D3E3; font-style:italic; text-decoration:none; border-bottom:1px dotted blue; }
a.liaix:hover { color:#DD0000; font-style:italic; text-decoration:none; border-bottom:0; }
a.in { color:#330066; text-decoration:none; }
a.in:hover { color:#DD0000; text-decoration:underline; }
a.ext { background:url("../images/ext.gif") center right no-repeat; padding-right:1em; }
a.ext:hover { background:url("../images/ext.png") center right no-repeat; padding-right:1em; }
a.exti { background:url("../images/ext.gif") center right no-repeat; font-style:italic; padding-right:1em; }
a.exti:hover { background:url("../images/ext.png") center right no-repeat; font-style:italic; padding-right:1em; }
a.red { background:url("../images/f_i.gif") no-repeat center left; padding-left:1em; font-size:70%; }
a.red:hover { background:url("../images/f_i.gif") no-repeat center left; padding-left:1em; font-size:70%; }
.tl { color:#009900; font-size:16pt; font-family:Arial; }
.st { color:#9D4098; font-weight:bolder; margin:5em 0 0.6em 1.5em; }
.st a { color:#9D4098; text-decoration:none; }
.st a:hover { color:#DD0000; text-decoration:underline; }
.sta { color:#9D4098; font-weight:bolder; margin:0.6em 0 0.6em 1.5em; }
.sta a { color:#9D4098; text-decoration:none; }
.sta a:hover { color:#DD0000; text-decoration:underline; }
.stb { color:#9D4098; font-weight:bolder; margin:3em 0 0.6em 1.5em; }
.stb a { color:#9D4098; text-decoration:none; }
.stb a:hover { color:#DD0000; text-decoration:underline; }
.su { color:#D9A4D7; font-weight:bold; }
a.su { color:#D9A4D7; text-decoration:none; }
a.su:hover { color:#DD0000; text-decoration:underline; }
.sv { color:#D9A4D7; font-size:1.2em; font-weight:normal; }
.da { color:#A2D3E3; font-family:Times New Roman, Arial; }
.dat { color:#A2D3E3; font-family:Arial; padding-left:2.5em; font-size:0.8em;}
.kb-t { color:#33CC00; font-size:0.95em; font-family:Arial; }
.kb-st { color:#33CC00; font-size:0.75em; font-family:Arial; }
.pho { color:#669933; font-family:Lucida Sans Unicode, Arial; }
.np { color:#999999; font-size:0.8em; }
a.npa { color:#999999; text-decoration:none; border-bottom:1px dotted #999999; }
a.npa:hover { color:#DD0000; text-decoration:none; border-bottom:0; }
.pt { font-size:0.8em; }
.k { font-size:0.8em; }
.ptr { text-align:right; font-size:0.8em; }
.qr { text-indent:3em; text-align:justify; }
.bf, .bf:hover, .bf:visited { cursor:pointer; font-size:0.75em; color:#666666; margin:0 0.9em 0.3em 0.9em; }
.sub { background:url("../images/envoi.gif") center right no-repeat; padding-right:1.25em; cursor:pointer; width:24px; height:16px; border-width:0 0 0 0; }
.sup { background:url("../images/form.gif") center right no-repeat; cursor:pointer; border-width:0 0 0 0; }
.eff { background:url("./effacer.png") center right no-repeat; padding-right:1.25em; cursor:pointer; width:24px; height:16px; border-width:0 0 0 0; }
textarea { font-family:Arial; color:#5B5B5B; font-size:1em; }
input { font-family:Arial; color:#5B5B5B; font-size:1em; }
select { font-family:Arial; color:#330066; font-size:0.85em; }
.lb { color:#0000DD; font-family:Arial; font-size:0.9em; background-color:#E8E8FF; cursor:pointer; line-height:2.2em; margin-right:0.2em; padding:0.1em 0.4em 0.2em 0.4em; border-bottom:1px solid #330066; border-right:1px solid #330066; }
a.lb { text-decoration:none; }
a.lb:hover { color:#DD0000; background-color:#F4F400; }
a.img:hover { background-color:#F4F400; }
.del { float:left; width:12%; text-align:center; }
.ipt { width:24em; max-width:95%; }
.iptb { width:16em; max-width:80%; }
.barre { color:blue; font-size:1.2em; max-width:95%; }
.delc { position:absolute; left:2%; }
.form { margin-left:12%; }
.form p { margin:0.3em 0 0.3em 0; }

.trad { width:100%; }
.trad-area { width:100%; }
.trad tr { vertical-align:top; }
.trad-a { width:10%; text-align:center; padding-top:1em; }
.trad-b { width:50%; text-align:center; padding-right:2.5em; }
.trad-c { width:40%; }
.did { float:left; padding-right:2.2em; margin-bottom:1em; }
.did p { margin:0 0 0 0; }
.lge { color:#009900; font-size:1.5em; font-family:Arial; margin:0.5em 0 0.5em 14%; }
.lge .vo { color:#00C100; padding-left:5%; }


.pr { text-indent:-5%; }
.pr1 { text-indent:-10%; }
.pp { margin:0.6em 0 0.6em 14%; text-indent:-1em; }
.pp1 { margin:0.6em 0 0.6em 14%; padding-left:1.5em; text-indent:-1em; }
.pp2 { margin:0.6em 0 0.6em 14%; padding-left:3em; text-indent:-1em; }
.pp3 { margin:0.6em 0 0.6em 14%; padding-left:4.5em; text-indent:-1em; }
.ppc { margin:0.6em 0 0.6em 14%; padding-left:2.5em; }
.ppr { margin:0.9em 0 0.6em 14%; text-indent:-1em; }
.ppc1 { margin:0.6em 0 0.6em 14%; padding-left:4em; }
.ppci { display:inline-block; margin:0.6em 0 0.6em 16%; text-align:center; font-size:0.8em; }
.pplg { margin:0.9em 0 0 12%; color:#FF6633; }
a.lg:link {color:#FF6633; font-size:0.8em; text-decoration:none; }
a.lg:visited {color:#FF6633; font-size:0.8em; text-decoration:none; }
a.lg:hover {color:#DD0000; font-size:0.8em; text-decoration:underline; }


.jb { color:#7C00F9; }
.ja { color:#CCCCCC; }
.jg { color:#F9BA9F; }
.jr { color:#9F0028; }
.jo { color:#CA5100; }
.jd { color:#CC0033; }
.ji { color:#C10031; font-family:Arial; font-size:1.2em; }

.espi { clear:both; height:1px; }

.ce { float:right; padding:0 0.6em 0.5em 1em; text-align:right; }
.cf { float:left; padding:0.2em 0 0.5em 5%; font-size:0.8em; }
.libr { margin:6em 0 0.6em 1.2em; }
a.frp { background:url("../images/f_i.gif") left no-repeat; padding-left:0.6em; font-size:0.8em; }
sup { font-size:0.7em; line-height:0.8em; }
.nowrap { white-space:nowrap; }
.center { text-align:center; }
.tleft { text-align:left; }
.tright, .right { text-align:right; }
.right2 { text-align:right; margin-right:20%; }

/* images */
.img-0 {border:0; }
.img-mid {border:0; vertical-align:middle; }
.img-1 {border-style:solid; border-width:1px; border-color:black; }
.imf { float:left; width:12%; text-align:center; }
.imc { float:left; width:24%; text-align:center; }
.iml { float:left; text-align:center; font-size:0.8em; clear:both; }
.frvideo { width:560px; max-width:100%; height:315px; border:0px; }



/* table */
.mots { margin-left:14%; border:0; }
.mots tr { vertical-align:top; }
.mots td { padding-right:1em; }
.mots td:first-child { white-space:nowrap; }

.tpa { margin-left:14%; }
.tpa tr { vertical-align:top; }
.tpa td { padding-right:5em; white-space:nowrap; }

.ssinda { margin-left:10%; }
.ssindb {display:inline-block; vertical-align:top; padding-left:5%; padding-top:1.5em; white-space:nowrap; }
.boxb {display:inline-block; vertical-align:top; padding-right:4%; padding-bottom:0.75em; white-space:nowrap; }

.tpar { margin-left:25%; border:0; }
.tpar tr { vertical-align:top; }
.tpar td { padding-right:2em; }
.tpar td:first-child { white-space:nowrap; }

.tpas { margin-left:0.3em; border:0; }
.tpas tr { vertical-align:top; }
.tpas td { padding-right:2em; }
.tpas td:first-child { white-space:nowrap; }

.tab-date { margin:0 20% 0 18%; }
.tab-date tr {vertical-align:top; }
.tab-date td { padding-bottom:0.6em; }
.tab-date td:first-child { padding-right:1em; text-align:right; white-space:nowrap; }

.dimg { display:inline-block; vertical-align:top; padding:0.3em 4% 0.3em 4%; text-align:center; } 
.dimgm { display:inline-block; vertical-align:middle; padding:0.3em 4% 0.3em 4%; text-align:center; } 

.tabil {margin-left:12%; margin-right:8%; }
.tabil tr { vertical-align:top; }
.tabil td { width:50%; padding-right:3.5em; padding-left:3.5em; }

.marg10 {margin-left:10%; }
.marg20 {margin-left:20%; }
.marg25 {margin-left:25%; }

.tab-kb { margin:auto; border:0; max-width:100%; }
.tab-kb tr { vertical-align:top; text-align:center; }
.tab-kb td { vertical-align:baseline; }
.as {display:inline-block; padding-bottom:1em; text-align:center; font-family:Arial; }
.as p{ margin: 0.15em 0 0.15em 0; color:#E0E0E0}
.asd {display:inline-block; padding-bottom:0.25em; text-align:center; font-family:Arial; }
.asd p{ margin: 0.15em 0 0.15em 0;} 
.v {vertical-align:top; }
.rtl {direction:rtl; }
.box-tam { display:inline-block; padding:0 1em 0 1em; vertical-align:top; text-align:center; } 
.boxdeva { display:inline-block; vertical-align:top; padding:0 4% 1em 4%; text-align:center; } 
.boxdevb { display:inline-block; vertical-align:top; padding:0 0.3em 0 0.3em; text-align:center; } 
.boxdevc {display:table-cell; vertical-align:top; }
.virama { margin-left:1em; margin-top:1.4em; } 

.tab-kbc { width:100%; border:0; }
.tab-kbc tr { vertical-align:top; text-align:center; }
.tab-kbc td { width:50%; }

.tab-kbd { width:90%; margin-left:5%; margin-right:5%; border:0; }
.tab-kbd tr { vertical-align:baseline; text-align:center; }


.ligne { background-image:url("../images/ligne.png"); width:65%; height:2px; }
ul li{ line-height:1.6em; }

.py { color:#006600; font-family:Arial; }
.zh { color:#CC0033; font-size:1.5em; font-family:Arial; }
.zht { color:#0000FF; font-size:1.5em; font-family:Arial; }


/* colors */
.cr { color:#CC0033; }
.x { color:#A2D3E3; }
.xi { color:#A2D3E3; font-style:italic; }
.i { font-style:italic; }
.ia { font-style:italic; font-family:Arial; } 
.b { font-weight:bold; }
.km { font-variant:small-caps; }
.kmi { font-variant:small-caps; font-style:italic; }
.xa { color:#A2D3E3; font-family:Arial; }
.xai { color:#A2D3E3; font-family:Arial; font-style:italic; }
.xal { color:#A2D3E3; font-family:Arial; font-size:1.2em; }
.xas { color:#A2D3E3; font-family:Arial; font-size:1.2em; padding-left:0.2em; padding-right:0.2em; }
.x-zh { color:#A2D3E3; font-family:Arial; font-size:1.2em; padding-left:0.3em; padding-right:0.3em; }
.x-zhx { color:#A2D3E3; font-family:Arial; font-size:1.4em; padding-left:0.3em; padding-right:0.3em; }
.x-ni { color:#A2D3E3; font-family:MS UI Gothic; font-size:1.2em; padding-left:0.3em; padding-right:0.3em; }
.x-heb { color:#A2D3E3; font-family:Times New Roman, Arial; font-size:1.2em; padding-left:0.3em; padding-right:0.3em; }
.x-arabe { color:#A2D3E3; font-family:Times New Roman, Arial; font-size:1.2em; padding-left:0.3em; padding-right:0.3em; }
.x-deva {  color:#A2D3E3; font-family:Nirmala UI; font-size:1.1em; padding-left:0.3em; padding-right:0.3em; }
.arab-text { color:#A2D3E3; font-family:Times New Roman, Arial; font-size:1.6em; direction:rtl; padding-left:0.3em; padding-right:0.3em; }
.ddh-ar { color:#CC0033; font-size:1.6em; font-family:Times New Roman, Arial; direction:rtl; float:left; margin-left:16%; margin-right:2%; }
.lar { font-family:Times New Roman, Arial; font-size:1.2em; direction:rtl; }

.large { font-size:1.2em; }
.xlarge { font-size:1.4em; }
.xxlarge { font-size:1.6em; }
.auteur { color:#000099; }
.aut-txt { color:#000099; margin:0.6em 4% 0.6em 6%; }
.cita { color:#000099; text-indent:2.5em; margin:1em 10% 1em 10%; }
.green { color:#006600; }
.greenb { color:#999900; }
.orange { color:#FF6633; }
.arial { font-family:Arial; }
.arial-green { font-family:Arial; color:#006600; }
.arial-cr { font-family:Arial; color:#CC0033; }
.arial-cr-large { font-family:Arial; color:#CC0033; font-size:1.2em; }

.car-ar { color:#0000FF; font-family:Times New Roman, Arial; font-size:1.3em; }
.tnr { font-family:Times New Roman, Arial; }
.xtnr { font-family:Times New Roman, Arial; font-size:1.2em; color:#0000FF; }
.grey { color:#999999; }
.span-red { color:#FF0000; }
.lucida { font-family:Lucida Sans Unicode, Arial; }

.famille { color:#FF6600; font-size:1.6em; font-family:Times New Roman, Georgia; }
.familleb { color:#FF6600; font-size:1.2em; font-family:Times New Roman, Georgia; }



.nav { list-style-type:none; text-align:center; margin:0; padding:0; }
.nav li { display:inline-block; padding:1em 1.5em 1em 1.5em; }
a.pie { width:100%; height:100%; float:left; display:block; text-align:center; border:1px solid #FFFFFF; text-decoration:none; color:#2DB000; font-weight:bold; background:#FFFFFF; }
a.pie:hover { width:100%; height:100%; float:left; display:block; text-align:center; border:1px solid #2DB000; text-decoration:none; color:#FFFFFF; font-weight:bold; background:#2DB000; }
a.co { color:#2DB000; font-size:0.8em; text-decoration:none; }
a.co:hover { color:#2DB000; font-size:0.8em; text-decoration:underline; }


/* dossier sat */
.casat { float:left; padding:10px; }
.cbsat { float:left; padding-left:10%; padding-right:10%; padding-top:2px; }
.ccsat { float:left; padding-top:10px; white-space:nowrap; }
.imgsat {width:90%; margin-right:5%; margin-left:5%; height:700px; }


/* mobile */
@media screen and (max-width:960px) { 
select { max-width:90%; }
audio { max-width:90%; }
img { border:0; max-width:100%; height:auto; } 
.mobnul {display:none;}
.pp { margin:0.6em 0 0.6em 6%; text-indent:-1em; }
.pp1 { margin:0.6em 0 0.6em 6%; padding-left:1em; text-indent:-1em; }
.pp2 { margin:0.6em 0 0.6em 6%; padding-left:2em; text-indent:-1em; }
.pp3 { margin:0.6em 0 0.6em 6%; padding-left:3em; text-indent:-1em; }
.ppc { margin:0.6em 0 0.6em 6%; padding-left:1.5em; }
.ppc1 { margin:0.6em 0 0.6em 6%; padding-left:2.5em; }
.para { font-weight:bold; margin:0.6em 0 0.6em 7%; }
.par { text-indent:1.5em; margin:0.2em 0 0 1em ; text-align:left; }
.tpar { margin-left:6%; }
.pj { text-indent:1.5em; text-align:left; }
.pa { margin:0.6em 2% 0.6em 6%; }
.pb { margin:0.6em 2% 0.6em 6%; }
.del { width:10%; text-align:left; }
.form { margin-left:10%; }
a.liem { color:#0000E6; text-decoration:none; line-height: 1.5em; }
.imc { float:none; text-align:center; }
.espr { padding-left:2em; }
.esps { padding-left:1em; }
.mots { margin-left:0.75em; }
.mots td:first-child { white-space:normal; }
.tabil {margin-left:0; margin-right:0; }
.tabil td { padding-right:0.75em; padding-left:0.75em; }
.marg10, .marg20, .marg25 {margin-left:0; }
.tab-date { margin:0 0 0 0; }
.tab-date td:first-child { white-space:normal; }
.boxdeva { padding:0 0.2em 0.5em 0; } 

.dat { font-size:0.85em; padding-left:0.5em; } 
.imgpap, .imglog, .imgloge {max-width:none; }
.ssinda { margin-left:3%; }
.ssindb { white-space:normal; }
.cok { column-count:4; margin-left:3%; column-gap:1.5em ; line-height: 1.5em; } 
.col { column-count:4; margin-left:3%; column-gap:1.5em ; } 
.col-kb { column-count:3; margin-left:3%; column-gap:1.5em ; } 
.col p, .col-kb p { line-height: 1.5em; } 
}


@media screen and (max-width:720px) { 
.cok { column-count:2; }  
.col, .col-kb { column-count:2; }  
.smartnul {display:none;}
.cc { display:inline-block; width:90%; font-size:1.4em; text-align:center; padding:0 0 1em 0; }
.cd { position:absolute; right:0.2em; top:0.2em; text-align:right; }
.lge { font-size:1.2em; }
.imgpap {border:0; width:33px; height:55px; }
.imglog, .imgloge {border:0; width:189px; height:45px; }
.imgdon {border:0; padding-bottom:3px; width:60px; height:13px; }
.imgdone {border:0; padding-bottom:3px; width:37px; height:13px; }
.imgcla {border:0; width:223px; height:24px; }
.imgclae {border:0; width:238px; height:24px; } 
.delc { position:absolute; left:0%; }
}
